header {
    padding-bottom: 68px;
    background: url("../img/header-photo.png") no-repeat;
    background-position: top, center;
    overflow: hidden;
    .wrap {
        .logo-and-nav {
            padding-top: 39px;
            overflow: hidden;
            border-bottom-width: 39px;
            margin-bottom: 0;
            padding-bottom: 39px;
            .logo {
                float: left;
                display: inline-block;
                margin-right: 56px;
                a {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
            .header {
                display: inline-block;
                .nav {
                    display: inline-block;
                    li {
                        display: inline-block;
                        a {
                            text-transform: uppercase;
                            color: #e2e2e2;
                            &:hover {
                                background-color: #55bd77;
                            }
                        }
                        .active {
                            color: #ffac55;
                        }
                    }
                }
            }
            .tel-and-email {
                display: inline-block;
                height: 25px;
                margin-left: 77px;
                margin-bottom: 0;
                padding-bottom: 0;
                float: right;
                span {
                    background: url("../img/phone-icon.png") no-repeat;
                    padding-left: 30px;
                    padding-bottom: 3px;
                    text-transform: uppercase;
                    color: white;
                }
                a {
                    width: 31px;
                    vertical-align: middle;
                    border-radius: 20px;
                    background: url("../img/email-icon.png") no-repeat #03b6e7;
                    margin-left: 20px;
                    height: 31px;
                    display: inline-block;
                    background-position: center;
                }
            }
        }
        .industry {
            margin-top: 120px;
            margin-bottom: 59px;
            text-align: center;
            .title {
                span {
                    text-transform: uppercase;
                    color: white;
                }
                h1 {
                    text-transform: uppercase;
                    color: white;
                    margin-top: 24px;
                    margin-bottom: 59px;
                }
            }
        }
        .container {
            padding: 0;
            .row {
                margin-left: 0;
                margin-right: 0;
                .col-md-12 {
                    padding: 0;
                    .carousel {
                        .carousel-indicators {
                            position: inherit;
                            margin-top: 103px;
                            text-shadow: 0 0 black;
                            bottom: 0;
                            li {
                                background: #cecece;
                            }
                            .active {
                                background: #428bca;
                            }
                        }
                        .carousel-inner {
                            .item {
                                .row {
                                    .col-md-3 {
                                        .thumbnail {
                                            padding-top: 165px;
                                            padding-bottom: 101px;
                                            border-radius: 0;
                                            border: none;
                                                text-decoration: none;
                                                color: white;
                                        }
                                        .edu {
                                            background: url("../img/1.png") no-repeat center bottom 139px #f6961b;
                                        }
                                        .bus {
                                            background: url("../img/2.png") no-repeat center bottom 139px #03b6e7;
                                        }
                                        .tec {
                                            background: url("../img/3.png") no-repeat center bottom 139px #03b6e7;
                                        }
                                        .ban {
                                            background: url("../img/4.png") no-repeat center bottom 139px #03b6e7;
                                        }
                                        .educ {
                                            background: url("../img/1.png") no-repeat center bottom 139px #03b6e7;
                                        }
                                    }
                                    .none-pad {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                        .carousel-indicators {
                            .active {
                                border: 2px solid #16d428;
                                background-color: #16d428;
                                width: 16px;
                                height: 16px;
                            }
                            li {
                                border: 2px solid white;
                                background: inherit;
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1141px;
    }
}
@media (min-width: 992px) {
    .col-md-3 {
        width: 262px;
        height: 282px;
        margin-right: 30px;
        padding: 0;
    }
}
.none-pad {
    margin: 0;
}

